<component name="ArtifactManager">
  <artifact type="war" name="SpringRestfulAngularBackend:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringRestfulAngularBackend-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringRestfulAngularBackend:war exploded" />
    </root>
  </artifact>
</component>